.nav {
	background-color: rgb(241, 237, 226);
	background-image: url('../../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	background-position: 20px center;
	background-size: auto 100%;
	height: 80px;
	position: sticky;
	top: 5px;
	align-items: center;
	gap: 30px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.1);
}

.linkHome {
	margin-left: 7%;
	color: #252525;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 24px;
}
.subText {
	font-size: 12px;
	color: #666;
	margin-left: 7%;
}
.link {
	color: #252525;
	text-decoration: none;
	margin: 0 50px;
	transition: color 0.3s;
	font-size: 20px;
	margin-left: 100px;
}
.linkContainer {
	padding-left: 40%;
	padding-bottom: 40px;
}
.linkHome:hover {
	color: #b19660d7;
}
.link:hover {
	color: #b19660d7;
	text-decoration: underline;
}
.link.active {
	font-weight: bold;
}

.linkHome.active {
	color: #877554;
}
